---
import Badge from "@/components/icon-badge.astro";
const stack = [
  "TypeScript",
  "React",
  "Nextjs",
  "Node",
  "Python",
  "Django",
  "Svelte",
  "Tailwind",
  "Astro",
  "PostgreSQL",
  "AWS",
  "Vue",
  "Docker",
  "Swift",
];

const skills = [
  "Fullstack Development",
  "Mobile Development",
  "Cloud deployment",
  "REST & GraphQL APIs",
  "Database administration",
  "CI/CD Pipelines",
];

const qualifications = [
  {
    title: "AWS Cloud Practitioner",
    institution: "Amazon Web Services",
    year: 2024,
  },
  {
    title: "Masters of Computer Science",
    institution: "Monash University",
    year: 2022,
  },
  {
    title: "Bachelor of Business & Commerce",
    institution: "University of Newcastle",
    year: 2014,
  },
];
---

<section
  class="animate-fade-down opacity-0 [animation-delay:0.6s] [animation-fill-mode:forwards]"
>
  <h2 class="heading--secondary">About</h2>

  <div class="space-y-8">
    <p class="text-ui-400 text-lg">
      Hi I'm Brad, a software developer based in Newcastle, Australia. I
      specialise in building fullstack applications usually with a React
      frontend consuming APIs built with Node, Python or .NET.
    </p>

    <div class="card mb-8">
      <h3 class="heading--tertiary">Qualifications</h3>
      <div class="space-y-4">
        {
          qualifications.map((qual) => (
            <div class="flex items-center justify-between">
              <div>
                <p class="text-ui-300 text-sm font-medium">{qual.title}</p>
                <p class="text-ui-400 text-xs">{qual.institution}</p>
              </div>
              <span class="text-ui-500 text-xs">{qual.year}</span>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Tech Stack Carousel - Centered -->
    <div class="space-y-8">
      <h3 class="heading--tertiary">Experience with:</h3>

      <div class="overflow-x-clip py-2">
        <div class="flex gap-4 items-center animate-scroll hover:animate-none">
          {stack.map((tech) => <Badge name={tech} />)}
        </div>
      </div>

      <!-- Specializations -->
      <div class="mt-12 max-w-2xl mx-auto">
        <div class="grid lg:grid-cols-2 gap-3">
          {
            skills.map((skill) => (
              <div class="flex items-center gap-3 p-3 rounded-lg bg-ui-800/30 border border-ui-700/50">
                <div class="size-2 bg-primary-600 rounded-full" />
                <span class="text-ui-300 text-md">{skill}</span>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<style scoped>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
</style>
