---
import type { Project } from "../../../data/projects";
interface Props {
  project: Project;
}

const { title, description, link, tech, repo, mobileImage, desktopImage } =
  Astro.props.project;
---

<article class="project animated--fade-in">
  <a target="_blank" href={link} class="project__img-container">
    <img
      class="project__img--desktop"
      src={desktopImage}
      alt={`${title} desktop view`}
    />
    {
      mobileImage && (
        <img
          class="project__img--mobile"
          src={mobileImage}
          alt={`${title} mobile view`}
        />
      )
    }
  </a>
  <div class="project__text-container">
    <h3 class="project__heading">{title}</h3>
    <p class="project__description">
      {description}
    </p>
    <div class="project__badge-container">
      {tech.map((tech) => <span class="badge">{tech}</span>)}
    </div>
    <div class="project__links">
      <a class="project__link project__link--live" target="_blank" href={link}
        ><span>View Live</span>
        <i class="fas fa-chevron-right"></i></a
      >
      <a class="project__link project__link--repo" target="_blank" href={repo}
        ><span>Repository</span>
        <i class="fas fa-chevron-right"></i></a
      >
    </div>
  </div>
</article>

<style>
  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--margin-xl);
    width: 100%;
    max-width: 50rem;
    overflow: hidden;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    background-image: var(--gradient-primary);
  }

  .project__text-container {
    width: 100%;
    max-width: 40rem;
    border-radius: 10px;
    order: 1;
    padding-bottom: 2rem;
  }

  .project__text-container:nth-of-type(even) {
    order: 2;
  }

  .project__heading {
    font-size: var(--hs-md);
    margin-bottom: var(--margin-md);
    color: #fff;
    font-weight: 500;
  }

  .project__description {
    font-size: var(--fs-md);
    line-height: 1.5;
    margin-bottom: var(--margin-lg);
    color: var(--text-light);
  }

  .project__img-container {
    order: 2;
    width: 100%;
    max-width: 42rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    border: solid 6px var(--primary-dark-transparent);
  }

  .project__img--desktop {
    position: relative;
    width: 100%;
  }

  .project__img--mobile {
    transition: all 0.6s ease;
    border-radius: 10px;
    position: absolute;
    border: solid 3px var(--primary-dark-transparent);
    width: 20%;
    right: -1.5rem;
    bottom: -1.5rem;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .project__badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .badge {
    font-size: var(--fs-xs);
    font-family: var(--font-secondary);
    font-weight: 600;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border-radius: 5px;
    padding: 0.3rem;
  }

  .project__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .project__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project__link {
    border-radius: 50px;
    text-align: center;
    font-family: var(--font-primary);
    text-decoration: none;
    cursor: pointer;
    padding: 0.6rem 1.8rem;
    transition: all 0.3s ease-in-out;
    color: var(--text-lightest);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: var(--fs-md);
    font-weight: 500;
    background-size: 200% auto;
    background-image: var(--gradient-secondary);
  }

  .project__link i {
    transition: all 0.3s ease;
    font-size: 1rem;
    margin-left: 0.6rem;
  }

  .project__link--live {
    color: #fff;
    background-image: var(--gradient-secondary);
    margin-right: 2rem;
  }

  .project__link--repo {
    background-color: transparent;
    background-image: none;
    padding-left: 0;
    color: var(--text-lightest);
  }
  /* Replace 768px with the actual pixel value for $screen-md */
  @media only screen and (min-width: 768px) {
    .project {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 120rem;
      padding: 4rem;
    }

    .project__img-container {
      margin: 0;
    }

    .project__text-container {
      padding: 2rem 2rem 0 0;
      margin-bottom: auto;
    }

    .project:nth-of-type(even) .project__text-container {
      order: 2;
      padding: 2rem 0 0 4rem;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .project__link {
      transition: 0.5s;
    }

    .project__link:hover {
      background-position: right center;
    }

    .project__link:hover i {
      transform: translateX(3px);
      color: #fff;
    }

    .project__link--repo:hover span {
      color: #fff;
      box-shadow: inset 0 -2px 0 var(--secondary);
    }
  }
</style>
